.block1 {
  display: grid;
  grid-auto-rows: auto auto auto;
  row-gap: 30px;
  padding-left: 30%;
  padding-right: 30%;
  margin-bottom: 8%;
  &__line {
    margin-top: 3%;
    width: 100%;
    border: 0.5px solid #717d80;
  }
  &__grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    column-gap: 30px;
    align-items: center;
    align-self: center;
    &-item {
      display: grid;
      grid-template-rows: auto auto;
    }
    &-img {
      background-color: #f2fcff;
      border: 1px #1e2c30 solid;
      display: inline-block;
      width: 70px;
      height: 70px;
      padding: 10px;
    }
  }
}
.blockblue {
  background-color: #ebf3f5;
  background-size: cover;
  margin-bottom: 5%;
  padding: 5%;
  position: relative;
  text-align: center;
  &__conteiner {
    padding: 5% 10% 5% 50%;
    background-color: #1e2c30;
    color: white;
    text-align: left;
    a {
      line-height: 2em;
    }
    h1 {
      color: white;
    }
  }
  &__img {
    position: absolute;
    top: 6%;
    &-photo {
      width: 100%;
    }
  }

  &__conteiner1 {
    justify-items: center;
    justify-content: center;
    grid-template-columns: 30% 30%;
    margin-top: 3%;
    display: grid;
    column-gap: 30px;
    grid-template-rows: auto auto;
    row-gap: 0;
    &-itemwhite {
      background-color: white;
      padding: 10% 10% 15% 10%;
      text-align: left;
    }
    &-itemblue {
      h2 {
        color: white;
        margin: 0%;
      }
      p {
        margin: 0%;
      }
      background-color: #1e2c30;
      display: grid;
      width: 90%;
      padding: 5% 5% 5% 5%;
      grid-template-columns: auto auto auto;
      column-gap: 5px;
      color: white;
    }

    &-img {
      border: white solid 1px;
      width: 70px;
    }
    &-gridcolumn {
      display: grid;
      grid-template-rows: auto auto auto;
      text-align: left;
    }
    row-gap: 0;
    &-stars {
      display: flex;
    }
  }
}
.blockimg {
  &__icons{
    &:hover{
      filter: brightness(0) saturate(100%) invert(55%) sepia(16%) saturate(745%) hue-rotate(147deg) brightness(86%) contrast(90%);
    }
  }
  display: grid;
  grid-template: repeat(3, auto) / repeat(3, auto);
  row-gap: 3%;
  column-gap: 40px;
  justify-items: center;
  padding-left: 5%;
  padding-right: 5%;

  align-items: center;
  margin-bottom: 7%;
  a {
    line-height: 2em;
  }
  h2 {
    margin: 0%;
  }
  &__img {
    width: 100%;
  }
  &__item {
    justify-items: center;

    align-items: center;
    &-column {
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    &-row {
      display: flex;
      gap: 30px;
    }
  }
}
.blocktext {
  text-align: center;
  padding: 0% 20% 4% 20%;
}
.block2 {
  display: grid;
  column-gap: 40px;
  row-gap: 40px;
}
.gridblock {
  justify-content: center;
  gap: 30px;
  display: grid;
  align-self: baseline;
  grid-template-columns: 30% 40%;
  padding-bottom: 5%;
  padding-top: 3%;

  a {
    line-height: 30px;
    margin-top: 10px;
    margin-bottom: 30px;

  }
  h1 {
    margin: 0%;
  }
  p {
    margin: 0%;
  }
  &__box1 {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    text-align: left;
    align-self: self-start;
  }
  &__box2 {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    display: grid;
    align-self: baseline;
    row-gap: 30px;
  }
  img {
    width: 100%;
  }
}
